<!--
Author: Lukas Sprung
-->
<!DOCTYPE HTML>
<html>
<head>
<title>eBibliothek Register FB/TW/GO</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
Die Links werden im Design dann mit den 3 Bilder verknüpft :)
		<a href="?route=authentications/authenticatewith/google"><div class="reg_fb"><img src="images/fb.jpg" alt=""><i>register using Google+ (in arbeit)</i><div class="clear"></div></div></a>
		<a href="?route=authentications/authenticatewith/twitter"><div class="reg_fb"><img src="facebook.jpg" alt=""><i>register using Twitter</i><div class="clear"></div></div></a>
		<a href="?route=authentications/authenticatewith/facebook"><div class="reg_fb"><img src="facebook.jpg" alt=""><i>register using Facebook</i><div class="clear"></div></div></a>
</body>
</html>