p{text-indent:0;margin-left:0;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0;font-size:100%}
.p0{text-indent:0;text-align:center}
.p1{text-indent:1.3em;margin-left:0}
.p3{text-indent:-1.3em;margin-left:1.3em}
.p4{text-indent:0;text-align:left;widows:2;orphans:2}
.p5{text-indent:-2.6em;margin-left:2.6em}
.p6{text-indent:0;margin-left:2.6em}
.p7{text-indent:0}
.p111{text-indent:1.3em;margin-left:0;border-bottom: 1pt solid black}
h1{text-indent:0;margin-left:0;margin-right:0;page-break-after:avoid;margin-top:.67em;margin-bottom:.17em;font-size:164%;font-weight:bold;border-bottom:1pt solid black;padding-bottom:3pt}
.h10{text-indent:.88em;margin-left:0;text-align:justify;page-break-after:auto;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.h12{text-indent:0}
h2{text-indent:0;margin-left:0;margin-right:0;text-align:justify;page-break-after:avoid;margin-top:.86em;margin-bottom:.21em;font-size:127%;font-weight:bold;background-color:#AAAAAA;padding-top:5pt;padding-bottom:3pt;padding-left:5pt;padding-right:5pt;}
.h21{text-indent:0}
h3{text-indent:0;margin-left:0;margin-right:0;page-break-after:avoid;widows:2;orphans:2;margin-top:0;margin-bottom:0;font-size:145%;font-weight:bold}
.h31{text-indent:0}
.t2{text-decoration:underline}
.t3{font-style:italic}
.t4{font-weight:bold;color:purple}
.t5{color:purple}
.t6{font-style:italic;color:purple}
.t7{font-size:.82em;color:purple}
.t8{font-weight:bold}
.t9{font-size:.82em}
.t10{font-size:.82em;font-style:italic}
.t11{font-weight:bold;color:red}
.t12{color:red}
.t13{font-size:.82em;color:red}
.t14{font-style:italic;color:red}
.t15{font-weight:bold;color:green}
.t16{color:green}
.t17{font-style:italic;color:green}
.t18{font-size:.82em;color:green}
.t19{font-weight:bold;color:blue}
.t20{color:blue}
.t21{font-size:.82em;color:blue}
.t22{font-style:italic;color:blue}
.t23{font-weight:bold;color:#993300}
.t24{color:#993300;text-decoration:underline}
.t25{color:#993300}
.t26{font-size:.82em;color:#993300}
.t27{font-weight:bold;color:#333333}
.t28{color:#333333}
.t29{font-size:.82em;color:#333333}
.t30{font-style:italic;color:#333333}
.t31{font-style:italic;text-decoration:underline}
.t32{font-size:1.1em}
.t33{font-weight:bold;font-style:italic}
.t34{font-size:1.5em;font-weight:bold}
.t35{font-size:1.5em}
.th11{font-size:.69em;text-decoration:line-through}
.th12{font-size:.69em}
.th13{text-decoration:underline}
.th15{font-style:italic}
.th16{text-decoration:line-through}
.th22{font-style:italic}
.th32{font-size:.69em}
.box{border: 1pt solid black;padding:0.5em}
img{page-break-after:avoid;margin-bottom:0.2em}